@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

html,
body {
    margin: 0;
    background: #1b1a19;
    font-family: "HelveticaNeue";
    src: local("HelveticaNeue"),
        url(./fonts/HelveticaNeue/HelveticaNeueLTPro-Th.otf) format("truetype");
    src: local("Roboto") url(./fonts/Roboto/Roboto-Regular.ttf)
        format("truetype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root,
.App {
    background: #1b1a19;
    min-height: 100vh;
}

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */

:root {
    --bg: white;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid white;
    --border-radius: 8px;
    --speed: 500ms;
    --acsu-red: #b81c34;
}

.font-orbitron {
    font-family: "Orbitron", sans-serif;
}
