@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

h1 {
  font-family: "Lato";
}

.Board {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.Board-text-center {
  text-align: center;
}

.Board-sidebar {
  margin: 0 auto;
  float: left;
  flex: 50%;
  flex-direction: column;
  border-right: 1px solid #000000;
  font-size: 1.25rem;
}

/* .Board-card-img {
  width: 280px !important;
} */

.Board-card-icon {
  margin: 0 auto;
  display: block;
  width: 15%;
}

.Board-box {
  margin: auto;
  flex: 50%;
}
