.main h1 {
  font-family: HelveticaNeue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  color: #f5f5f5;
  text-align: center;
  padding-bottom: 2rem;
}

.main h2 {
  font-family: HelveticaNeue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #d4d4d4;
  text-align: center;
  padding-bottom: 1rem;
}

.main h3 {
  font-family: HelveticaNeue, sans-serif;
  font-weight: lighter;
  color: #ececec;
}

.main p {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #f0f0f0;
  line-height: 2rem;
}
.main {
  color: #f0f0f0;
  margin: 10px 20% 200px 20%;
}
.gates-logo {
  display: flex;
  justify-content: center;
  height: 78vh;
  margin-bottom: 10vh;
}
.section {
  padding-bottom: 18rem;
}
.subsection {
  margin: 1.5rem 0px;
}
.cover-logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.row {
  -ms-flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.column {
  -ms-flex: 25%;
  flex: 25%;
  padding: 4 4px;
}

/* Resize */
@media screen and (max-width: 900px) {
  .sidemenu .menusection .menuitem a {
    max-width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    margin: 10px 15% 200px 15%;
  }
  .sidemenu {
    display: none;
    transition: 0.2s ease;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 4 4px;
  }
  .main {
    margin: 10px 24px 200px 24px;
  }
}
