.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.event-card {
    flex: 0 0 auto;
    margin-right: 2rem;
    min-width: 275px;
}

.media {
    min-height: 400px;
}

.scrolling-wrapper-flexbox {
    height: 100%;
    margin-bottom: 20px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}
.scrolling-wrapper::-webkit-scrollbar,
.scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
}
