h1 {
    font-family: HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #b01c33;
    text-align: center;
    line-height: 5rem;
}

h2 {
    font-family: HelveticaNeue, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: grey;
    text-align: center;
    line-height: 4rem;
}

p {
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1c1d1b;
    line-height: 3rem;
}
.main {
    margin: 10px 20% 200px 20%;
}
.section {
    margin: 3rem 0px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.subsection {
    margin-bottom: 7rem;
    text-align: center;
}
.subheader {
    /* font-weight: 600; */
    font-style: italic;
}
.cover-logo-div {
    height: 70vh;
    display: flex;
    /* margin-bottom: rem; */
}
.cover-logo {
    width: 100%;
}
.row {
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    padding: 4 4px;
}

body {
    margin: 0;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/* Resize */
@media screen and (max-width: 900px) {
    .sidemenu .menusection .menuitem a {
        max-width: 100px;
    }
}

@media screen and (max-width: 800px) {
    .main {
        margin: 10px 15% 200px 15%;
    }
    .sidemenu {
        display: none;
        transition: 0.2s ease;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
        padding: 4 4px;
    }
    .main {
        margin: 10px 24px 200px 24px;
    }
}
