.card {
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
    cursor: default;
}
.card-media-container {
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    top: 0;
    height: 55%;
    width: 100%;
}

.card-divider {
    height: 100%;
}
.card-media {
    height: 100%;
    width: auto;
    max-width: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.card-description {
    /* font-family: sans-serif; */
    /* font-weight: 900;s */
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
}
