body {
  margin: 0;
  background: #151616;
  font-family: "HelveticaNeue", "Roboto", "Arial", sans-serif;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* color: var(--text-color); */
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
  text-decoration: none;
}
.navbar {
  padding-bottom: 20px;
}

.container {
  justify-content: flex-end !important;
  flex: 1 0;
  margin-top: 20px !important;
  width: auto;
}

.nav-button {
  margin-left: 3rem !important;
}

.container a:hover {
  color: black;
  text-decoration: none;
}

.nav-button span {
  font-weight: 800;
}

/* ---- Logo ---- */
/* Link */
.acsu-logo-wrapper {
  flex-shrink: 0;
  position: relative;
  padding: 15px;
}
/* ACSU Logo img */
.acsu-logo-img {
  max-width: 90px;
  height: auto;
}

.my-navlink {
  font-size: 20px;
  font-weight: bolder;
  color: black;
  margin-left: 15px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.my-navlink ::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.my-navlink :hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar-nav {
  max-width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Button Div */
.button-div {
  width: 100%;
  transform: skew(20deg);
  background-image: linear-gradient(
    100deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5) 100%,
    rgba(0, 0, 0, 0)
  );
  padding-left: 30%;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.6);
  width: calc(var(--button-size) * 5);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 30%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.5);
}

.icon-button img {
  transform: skew(-20deg);
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

/* Dropdown Menu */

/* .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
    margin-left: auto;
} */

/* CSSTransition classes  */
/* .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
} */
