@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  margin: 0;
  padding: 0;
}

.Column {
  float: left;
}

.SideBarC {
  min-width: 160px;
  width: 15%;
  position: relative;
}

.SectionC {
  /* width: calc(85% - 140px); */
  width: 70%; /* magical number to make the section text centered (need to fix) */
}

.Body:after {
  content: "";
  display: table;
  clear: both;
}

/* SideBar Styling */

.SideBar {
  height: 19rem;
  width: 10rem;
  top: 7px;
  left: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 1.25rem;
  border-right: 0.1rem solid #000000;
  position: relative;
  cursor: pointer;
}

.SideBar a {
  padding-bottom: 45px;
  height: 2.3rem;
}

.SideBar a:hover {
  /* color: #7d1a29; */
}

div.SideBarWidth {
  min-width: 140px;
}

/* General Section Styling */

.Section {
  position: relative;
  margin: auto;
  max-width: 800px;
}

.Section h1 {
  font-family: "HelveticaNeue", sans-serif;
  font-size: rem;
  text-align: center;
  margin: auto;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* margin-top: 1rem; */
  margin-bottom: 10px;
}

.Body {
  /* position: relative;
  margin: auto;
  max-width: 800px;
  padding-bottom: 10rem; */
  /* padding-bottom is because footer was previously blocking some elements, might remove if footer changes */
}

/* FAQ Styling */
.FAQ h2 {
  margin-top: 0rem;
}

.FAQ .Content {
  margin-bottom: 2.5rem;
}

ul {
  list-style-type: circle;
}

ul li {
  margin: 5px;
  margin-left: 30px;
}

/* Courses Styling */
.Courses h2 {
  margin-top: 2.5rem;
}

.Courses #top {
  margin-top: 0rem;
}

.Courses img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.Courses p {
  margin-block-end: 0rem;
}

.Courses body {
  text-align: center;
}

.Courses .Intro .ButtonGroup {
  margin-top: 2rem;
}

/* .Courses .Intro .ButtonGroup a {
  background-color: #b01c33;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 0px;
  text-align: center;
  width: 30%;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 20px;
} */

.Courses .Intro .ButtonGroup a {
  text-align: center;
}

.Courses img {
  max-width: 100%;
  height: auto;
}

/* Clubs Styling */
.Clubs img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
}

.Clubs .WICC img {
  max-width: 30%;
}

.Clubs .H4I img {
  max-width: 50%;
}

.Clubs .PT img {
  max-width: 70%;
}

.Clubs .ACM img {
  height: 100px;
  max-width: 50%;
}

.Clubs .AppDev img {
  max-width: 80%;
}

.Clubs h2 {
  text-align: center;
  max-width: 100%;
}

.Clubs hr {
  margin-bottom: 2rem;
}

/* Research Styling */

/* Graduate Styling */

/* Accordion Styling */

.accordion_section p {
  font-size: 3rem;
}

/* General h1 and p Styling */

h2 {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
}

p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
}
/* 
a {
  cursor: pointer;
} */

/* a:hover {
  color: #b01c33;
} */

@media only screen and (max-width: 1300px) {
  .SideBar {
    border-right: 0rem solid #000000;
    /* left: 2.5rem;
    font-size: 1rem;
    width: auto; */
  }
}

@media only screen and (max-width: 1100px) {
  .Section {
    /* position: absolute; */
    /* min-width: 50px; */
    /* left: 150px; */
    margin-left: 0;
  }

  .Courses img {
    /* width: 320px; */
    height: auto;
    /* margin-left: 0; */
  }
}

@media only screen and (max-width: 800px) {
  .Section {
    /* width: calc(100% - 150px); */
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
