body {
    margin: 0;
    background: #151616;
    font-family: "HelveticaNeue", "Roboto";
    src: local("HelveticaNeue"),
        url(./fonts/HelveticaNeue/HelveticaNeueLTPro-Th.otf) format("truetype");
    src: local("Roboto") url(./fonts/Roboto/Roboto-Regular.ttf)
        format("truetype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3rem !important;
    align-self: center;
    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;
}

/* h2 {
    margin-top: 2rem !important;
} */

/* code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
} */

:root {
    --bg: white;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid white;
    --border-radius: 8px;
    --speed: 500ms;
}
