.sponsors {
    margin: auto;
    text-align: center;
    width: 80%;
}

.sponsors-tier {
    margin-bottom: 3%;
    text-align: center;
}

.tier {
    width: 100%;
    margin-bottom: 2em;
}

.tier div{
    border-radius: 20px;
    padding: 1rem;
}

.color-container-sponsors{
    border-radius: 15%;
    padding: 2%;
}

.tier-container img {
    width: 100%;
    /* height: auto; */
}

.tier-gold div {
    width: 40%;
    margin-right: 1em;
}

.tier-silver div {
    width: 28%;
    margin-right: 1em;
}

.tier-bronze div {
    width: 22%;
    margin-right: 1em;
}

.tier-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-container-sponsors .white-container-sponsors {
    background-color: white;
    width: 100%;
    padding: 1em;
}

#blackstone {
    background-color: black;
}

h2.gold {
    color: #ffd700;
    font-weight: bold;
}

h3.silver {
    font-weight: bold;
    color: #c0c0c0;
}

h4.bronze {
    font-weight: bold;
    color: #cd7f32;
}


@media (max-width: 600px) {
    .tier-container {
        flex-direction: column;
    }

    .tier-gold div {
        width: 90%;
    }

    .tier-silver div {
        width: 80%;
    }

    .tier-bronze div {
        width: 70%;
    }

}